# Node
node_modules/
dist/
dist-ssr/
*.local

# Rust / Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/icon-source.png

# macOS
.DS_Store
*.pem

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
.env.*.local
